html,
body {
    margin: 0;
    padding: 0;
    background-color: #F0F0F3;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    padding: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

input[type="text"] {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: 360px;
}

input[type="password"] {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: 360px;
}

textarea {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    width: 360px;
}