$color-primary: #F0F0F3;
$color-secondary: #17141B;
$color-tertiary: #A6B8BF;

// adicionar mixins para breakpoints(3) de typography
// alterar a base, que vai alterar todos h's
// e habilitar rem como medida 1rem = 16px