@use "../variables.module.scss" as variables;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 36px;
    margin-top: clamp(160px, 25vh, 720px);
    margin-bottom: 48px;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border: 2px solid variables.$color-secondary;
}

.container form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.formInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
}

.buttonStyle {
    color: variables.$color-primary;
    background-color: variables.$color-secondary;
    transition: all 0.3s ease;
}

.buttonStyle:hover {
  background-color: variables.$color-tertiary;
}

.error {
    color: rgb(182, 9, 9);
}